{% if section.settings.full_wdith %}
  <style>
    video {
      width: 100%;
    }
  </style>
{% endif %}
<div class="{% if section.settings.full_wdith %} w-full {% else %} px-4 mx-auto sm:px-6 lg:px-8 max-w-7xl{% endif %}">
  <video
    src="{{ section.settings.video.sources[1].url }}"
    loop
    playsinline
    autoplay
    controls></video>
</div>
{% schema %}
  {
    "name": "video",
    "settings": [
      {
        "type": "video",
        "id": "video",
        "label": "A Shopify-hosted video"
      }
    ],
    "presets": [
      {
        "name": "t:sections.video.name"
      }
    ]

  }
{% endschema %}